.heading {
    font-size: 2rem;
}

.mainSection {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.reviewChart {
    width: 100%;
    margin: auto;
}

@media (min-width: 668px) {
    .mainSection {
        flex-direction: row;
        padding: 5%;
    }

    .mainSection > div {
        width: 50%;
        padding: 2.5% 5%;
    }

    .mainSection > div:nth-child(2) {
        border-radius: 8px;
    }

    .reviewChart {
        width: 40%;
    }
}
