:root {
    --color-dark-green: rgb(38, 70, 83);
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--color-dark-green);
    padding: 0 5%;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}
